body{
    font-family: 'Poppins', 'Arial', sans-serif;
    background-color: #ececec;
    line-height: 1.5;
}
body, html {
    margin: 0;
    padding: 0;
}

body, main{
    padding-top: 8%; 
}

h1, p, button{
    font-weight: 500;
    font-size: 120%;
}

a.skip {
    position: absolute;
    top: -10000px; 
    left: -10000px;
    padding: 6px;
    background: #ececec;
    color: black; 
}

a.skip:focus {
    top: 0;
    left: 0;
    z-index: 1001; 
}


.album_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    flex-wrap: nowrap;
    margin: 5%;
}

.albumpage {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap;
    flex: 1;
    border: 2px solid black;
    margin: 2%;
    padding: 4%;
    background-color: lightgray;
}
button.open {
    font-size: 90%; 
    text-align: center;
}

.albumpage h1, .albumpage p{
    margin: 2px 0; 
    text-align: left; 
}

.albumpage h1{
    width: 20%; 
    font-size: 90%; 

}

.albumpage p{
    width: 100%; 
    font-size: small;
    padding: 2%;
    
}


.albumpage img{
    max-width: 30%;
    object-fit: contain;

}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #ececec;
    margin: 15% auto; 
    padding: 20px;
    margin-top: 40%;
    overflow-y: scroll;
    height: 60%;
    border: 4px solid #5b5b5b;
    width: 75%; 
  }
  
  .close {
    color: #5b5b5b;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  .album_banner {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center; 
    gap: 2px; 
    border-bottom: 2px solid #9d9d9d;
    padding-bottom: 4%;
    align-items: center;
}

.col1{
    grid-column: 1;
}
.col2{
    grid-column: 2;
}


.row1{
    grid-column: 2;
    grid-row: 1;
    font-size: larger;
} 
.row2{
    grid-column: 2;
    grid-row: 2;
    font-style: italic;
} 
.row3{
    grid-column: 2;
    grid-row: 3;
} 

.album_banner img{
    max-width: 80%;
    padding-left: 10%;

}

.album_banner p{
    max-width: 100%;
    margin: 0%;
}

.track {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding-bottom: 5%;
}

.track .track_num {
    width: 30px; 
    flex: 0 0 20px; 
    justify-self: flex-start; 
}

.track .track_name {
    font-size: small;
    flex: 1; 
    justify-self: flex-start; 
    align-self: center;
}

.track .explicit {
    font-size: medium;
    align-self: center; 
    justify-self: flex-end; 
    width: 4%; 
    padding: 0%;
    color: darkred;
}

.track .duration {
    font-size: medium;
    width: 10%; 
    justify-self: flex-end;
    align-self: center; 
}

.track .audio-player {
    justify-self: center;
    align-self: center; 
    width: 15%; 
}

.artist{
    font-size: smaller;
}
                                 


audio {
    display: none;
}
.playbutton{
    border: none;
    background: none;

}
.playbutton img {
    width: auto;
    height: auto;
}

.disc-heading {
    display: flex;
    width: 100%;
    height: auto;
    align-content: center;
    padding-bottom: 2%;
}
.disc-heading img{
    width: 5%;
    padding-right: 2%;
    height: auto;
}
#header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #afafaf; 
    color: black;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 10px; 
    box-sizing: border-box; 
}

#header h1 {
    margin: 0; 
    flex: 1; 
    text-align: center; 
}


#header img {
    width: 10%; 
    height: auto; 
    margin-right: 10px; 
}


@media only screen and (min-width: 768px) {
    button.open {
        font-size: x-large;
    }

    .albumpage h1 {
        font-size: x-large;
    }
    
    .albumpage p {
        font-size: x-large;
    }

    .albumpage img {
        max-width: 45%;
    }

    #header {
        padding: 2%; 
    }
    
    #header h1 {
        font-size: xx-large;
    }
    
    #header img {
        width: 15%; 
    }
    
    .row1 {
        font-size: x-large;
    }

    .album_banner img {
        max-width: 100%;
        height: auto;
        padding-left: 2%;
    }

    .album_banner p {
        max-width: 100%;
        margin: 0%;
        padding-left: 10%;
    }
    
    .track .track_name {
        font-size: 130%;
    }
    
    .track .explicit {
        font-size: x-large;
    }
    
    .track .duration {
        font-size: x-large;
    }
    
    .track .audio-player {
        width: 15%; 
    }
}

@media only screen and (min-width: 992px) {
    .album_container {
        flex-direction: row; 
        flex-wrap: wrap;
        width: 90%; 
        margin: 0 auto; 
        padding: 4%; 
    }

    .albumpage {
        flex-direction: column; 
        flex: 1 1 25%; 
        margin: 1%; 
        padding: 2%; 
        justify-content: normal;
        box-sizing: border-box; 
        text-align: center; 
    }

    button.open {
        font-size: 200%; 
    }

    
    .albumpage h1, .albumpage p {
        font-size: xx-large;
        text-align: center;
    }
    
    .albumpage img {
        max-width: 80%;   
        max-height: auto; 
    }

    .modal-content {
        margin: 15% auto;
        padding: 20px;
        margin-top: 20%;
        overflow-y: scroll;
        height:60%;
        border: 4px solid #5b5b5b;
        width: 45%;
    }

    .row1 {
        grid-column: 2;
        grid-row: 1;
        font-size: x-small;
    }

    .album_banner img {
        max-width: 60%;
        padding-left: 25%;
    }
    .album_banner {
        justify-items: start;
    }

    .album_banner p {
        font-size: x-large;
        max-width: 100%;
        margin: 0%;
    }

    .track .track_num {
        flex: 0 0 20px; 
        justify-self: flex-start;
    }

    .track .track_name {
        font-size: x-large;
        flex: 1; 
        text-align: left;
    }

    .track .explicit {
        font-size: x-large;
        align-self: center;
        justify-self: flex-end;
        width: 4%; 
        color: darkred;
    }

    .track .duration {
        font-size: medium;
        width: 10%; 
        justify-self: flex-end;
        align-self: center; 
    }

    .track .audio-player {
        justify-self: center;
        align-self: center;
        width: 8%; 
    }

    .artist {
        font-size: smaller;
    }

    .disc-heading img {
        padding-left: 2%;
    }

    .disc-heading p {
        text-align: left;
        padding-left: 0%;
    }

    #header h1 {
        font-size: 300%;
    }

    #header img {
        width: 10%;
        height:auto;
    }
    .album_container {
        padding: 0%; 
    }
}

